Stage One: Import Libraries / Data

In [2]:
#starting pandas
import pandas as pd

#create a dataframe object from a csv
tarantino_df = pd.read_csv('tarantino.csv', delimiter=",")

tarantino_df

               movie   type          word  minutes_in
0     Reservoir Dogs   word          dick        0.40
1     Reservoir Dogs   word         dicks        0.43
2     Reservoir Dogs   word        fucked        0.55
3     Reservoir Dogs   word       fucking        0.61
4     Reservoir Dogs   word      bullshit        0.61
...              ...    ...           ...         ...
1889    Jackie Brown   word  motherfucker      141.93
1890    Jackie Brown   word           ass      142.43
1891    Jackie Brown   word       fucking      142.47
1892    Jackie Brown   word       goddamn      142.97
1893    Jackie Brown  death           NaN      143.13

[1894 rows x 4 columns]

Stage Two: Display a Summary and Sub-sections of the Data

In [4]:
# list 10
tarantino_df.head(10)

            movie  type      word  minutes_in
0  Reservoir Dogs  word      dick        0.40
1  Reservoir Dogs  word     dicks        0.43
2  Reservoir Dogs  word    fucked        0.55
3  Reservoir Dogs  word   fucking        0.61
4  Reservoir Dogs  word  bullshit        0.61
5  Reservoir Dogs  word      fuck        0.66
6  Reservoir Dogs  word      shit        0.90
7  Reservoir Dogs  word      fuck        1.43
8  Reservoir Dogs  word     dicks        1.56
9  Reservoir Dogs  word      fuck        1.66

In [14]:
#just to sample the data set
tarantino_df.sample(10)

                  movie   type     word  minutes_in
879        Pulp Fiction   word    bitch      142.42
55       Reservoir Dogs   word  fucking        9.96
794        Pulp Fiction   word     shit      121.47
1582       Jackie Brown   word  n-word        17.12
1232   Django Unchained   word     hell       22.67
80       Reservoir Dogs   word     fuck       16.45
761        Pulp Fiction   word  fucking      118.68
1246   Django Unchained  death      NaN       37.45
955   Kill Bill: Vol. 1  death      NaN       42.77
615        Pulp Fiction   word  fucking       59.05

In [15]:
#curse word count
tarantino_df['word'].value_counts()[:10]

fucking         407
shit            221
fuck            213
n-word          179
ass             140
goddamn         113
motherfucker     70
bitch            64
hell             45
damn             37
Name: word, dtype: int64

Stage Three: Clean Your Data

In [25]:
#clean data/remove data cells
tarantino_df['word'] = tarantino_df['word'].fillna('Death Sequence')

Stage Four: Plot Your Data

In [26]:
tarantino_df['word'].value_counts()[:20].plot(kind="area", title="Age of Students")